
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$wolftechBlue: #3451a3;
$wolftechOrange: #f3a023;
$wolftechBlack: #232323;

// Grays
$black: #000;
$hrGrey: #414141;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
