---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/foundation.css" />

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    {% assign author = site.authors[page.author] %}
  </div>

  <br>

  <div class="row">
    <div class="meta">
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=200" class = "bio-portrait" id="author">
    </div>
    <div class="date">
      <p>
        Written by <strong>{{ author.display_name }}</strong> || Published on <strong>{{ page.date | date: "%B %e, %Y" }}<strong>
      </p>
    </div>
  </div>

  {% include disqus.html %}
</article>
