---
layout: default
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/foundation.css" />

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    <p>
      Written by <strong>{{ author.display_name }}</strong> Published on <strong>{{ page.date | date: "%B %e, %Y" }}<strong>
    </p>
  </div>
  <br>

  <div class="entry">
    {{ content }}
    {% assign author = site.authors[page.author] %}
  </div>

  <br><hr><br>

  <div class="row">
    <div class="meta">
      <img src="{{ author.avatar }}" class = "bio-portrait" id="author">
    </div>
  </div>

  <br><hr><br>

  {% include disqus.html %}
</article>
